<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>VueJS2 组件补充实战知识-vuejs实战教程[云海天教程]</title>
  <meta name="keywords" content="Vue.js 教程,vue教程,新手入门教程,vue实例教程,vue基础教程,vue教程案例实战项目,最全vue项目实战">
  <meta name="description" content="组件补充实战知识">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" >
  <style>
    .t{
      border: 1px gray solid;
      border-spacing: 0px;
      border-collapse: collapse;
      width: 1100px;
    }
    .t td{
      border: 1px gray solid;
      padding: 5px;
    }

    .t th{
      border: 1px gray solid;
      padding: 5px;
    }
  </style>
</head>
<body>

<div id="app" class="container" style="padding-top: 50px;">
  <p></p>
  <table  class="t">
    <thead>
    <th width="25%">选择</th>
    <th>操作</th>
    </thead>
    <tbody>
    <tr>
      <td>基础(原始方法)</td>
      <td>
        <my-cpn></my-cpn>
      </td>
    </tr>
    <tr>
      <td>父组件子组件</td>
      <td>
        <cpn2></cpn2>
      </td>
    </tr>
    <tr>
      <td>语法糖写（推荐）</td>
      <td>
        <cpn3></cpn3>
<!--        <cpn6></cpn6>-->
      </td>
    </tr>
    <tr>
      <td>组件模版的分离写法（推荐）</td>
      <td>
        <cpn4></cpn4>
        <cpn5></cpn5>
      </td>
    </tr>
    <tr>
      <td>组件模版的data必须为函数形式</td>
      <td>
        <cpn6></cpn6>
      </td>
    </tr>
    <tr>
      <td>父子组件之间通信<br>
      父组件传子组件用 props<br>
      </td>
      <td>
<!--        下面驼峰标识必须用 - 连接   比如下面cMessage 变 c-message-->
        <cpn7 v-bind:cfoods="foods" :c-message="message"></cpn7>
      </td>
    </tr>
    <tr>
      <td>父子组件之间通信<br>
        子组件传父组件用$emit Event(自定义事件)</td>
      <td>
<!--        <cpn8 v-on:btn-click="ctnClick"></cpn8>-->
        <cpn8 @btn-click="ctnClick"></cpn8>
      </td>
    </tr>

    <tr>
      <td>父子组件之间通信案例<br></td>
      <td>
        <cpn9 :number="num" :number2="num2" @chge-num="ChgeNum"  @chge-num2="ChgeNum2"></cpn9>
      </td>
    </tr>

    <tr>
      <td>父访问子组件传递方式 $children、 $refs(推荐使用，对象类型，默认为空)<br></td>
      <td>
        <cpn10 ref="cpn10"></cpn10>
        <button @click="btnCpn10">点击我</button>
      </td>
    </tr>
    <tr>
      <td>子访问父组件传递方式 $parent、 $root<br></td>
      <td>
        <cpn11></cpn11>
      </td>
    </tr>
    <tr>
      <td>组件插槽 slot基本使用<br></td>
      <td>
        <cpn12><button>按钮2</button></cpn12>
        <cpn12></cpn12>
        <cpn12></cpn12>
        <cpn12>
          <span>哈哈哈</span>
          <ul>
            <li>我是哈哈哈的内容</li>
          </ul>
        </cpn12>
      </td>
    </tr>
    <tr>
      <td>具名插槽使用<br></td>
      <td>
        <cpn13><button>如何使用插槽</button></cpn13>
        <cpn13><span slot="center">替换中间</span></cpn13>
        <cpn13><ul slot="right"><li>替换右侧</li></ul></cpn13>
      </td>
    </tr>
    <tr>
      <td>理解编译作用域<br></td>
      <td>
<!--        调用的是父类中的isShow： true-->
        <cpn14 v-show="isShow"><button>编译作用域</button></cpn14>
      </td>
    </tr>

    <tr>
      <td>作用域插槽案例<br>
      父组件替换子组件内容，但内容是子组件提供
      </td>
      <td>
        <cpn15></cpn15>
<!--  下面:data 传值后，  目的是拿到子组件中的food2s 数据-->
        <cpn15>
<!--  vue 2.5以后可以不用template-->
          <template slot-scope="dataFood">
<!--            <span v-for="fd2s in dataFood.data">{{ fd2s }}-</span>-->
            <span>{{ dataFood.data.join(' - ')  }}</span>
          </template>
          <span>苹果</span>
        </cpn15>
      </td>
    </tr>

    <tr>
      <td>Es 模块化的导入导出<br>
      </td>
      <td>
        <cpn16></cpn16>

      </td>
    </tr>




    </tbody>
  </table>
  <hr>

</div>


<!--//组件模版的分离写法抽离方法1 start-->
<!--script  类型必须是 text/template 记得要传id与组件绑定-->
<script type="text/template" id="cpn4">
  <div>
    <h4>我是抽离标题1</h4>
    <p>我是抽离内容1</p>
  </div>
</script>
<!--//组件模版的分离写法方法1 end-->

<!--template标签 记得要传id与组件绑定-->

  <template id="cpn5">
    <div>
      <h4>我是抽离标题2</h4>
      <p>我是抽离内容2</p>
    </div>
  </template>

  <template id="cpn6">
    <div>
      <h4>我是计数器：{{ counter }}</h4>
      <button @click="increment">点我 + </button>
      <button @click="decrement">点我 - </button>
    </div>
  </template>
  <template id="cpn7">
    <div>
      props 传递：
      <ul>
        <li v-for="cfs in cfoods">{{ cfs }}</li>
      </ul>
      <p>{{ cMessage }}</p>
    </div>
  </template>

  <template id="cpn8">
    <div>
      自定义事件 传递：
        <button v-for="cgs in categories" @click="btnClick(cgs)"> {{ cgs.title }} </button>
    </div>
  </template>

  <template id="cpn9">
    <div>
      <p>父类数字：{{ number }}</p>
      <p>子类数字：{{ dnumber }}</p>
<!--      请输入数字1：<input type="text" v-model="dnumber" @keyup="changeNum(dnumber)">(是下面输入的1/10)-->
      请输入数字1：<input type="text" :value="dnumber" @input="inputChange">(是下面输入的1/10)


      <p>父类数字：{{ number2 }}</p>
      <p>子类数字：{{ dnumber2 }}</p>
<!--      请输入数字：<input type="text" v-model="dnumber2" @keyup="changeNum2(dnumber2)">(是上面输入的10倍)-->
      请输入数字1：<input type="text" :value="dnumber2" @input="inputChange2">(是上面输入的10倍0)
    </div>
  </template>

  <template id="cpn10">
    <div>
      <p>我在云海天教程完学习</p>
    </div>
  </template>
  <template id="cpn11">
    <div>
      <p>我是子组件</p>
      <button @click="btnCpn11">点击我</button>
    </div>
  </template>

  <template id="cpn12">
    <div>
      <p>我是组件插槽 slot</p>
<!--      设置插槽并且里面有默认值-->
      <slot><button>按钮1</button></slot>
    </div>
  </template>
  <template id="cpn13">
    <div>
      <slot><p>我是具名插槽</p></slot>
      <slot name="left"><span>左边</span></slot>
      <slot name="center"><span>中间</span></slot>
      <slot name="right"><span>右边</span></slot>
    </div>
  </template>
  <template id="cpn14">
    <div>
<!--      我是插槽里面的作用域-->
      <p>我是标题</p>
      <p>我是内容，哈哈哈</p>
      <!--   调用的是子类中的isShow： false-->
      <p v-show="isShow">我是内容2，哈哈哈</p>
    </div>
  </template>
  <template id="cpn15">
    <div>
<!--  :data给上面传值使用，这里:data 可以随便起名，比如:abc  但要与上面调用一致-->
      <slot :data="food2s">
        <ul>
          <li v-for="fd2s in food2s">{{  fd2s }}</li>
        </ul>
      </slot>
    </div>
  </template>



<!--//组件模版的分离写法方法2 end-->


<!-- 第一步引入 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>



<!-- 第二步定义注册组件 -->
<script type="text/javascript">
//原始引用方法start
//1.创建组件构造器
  const cpnC = Vue.extend({
    template : `
        <div>
          <h4>我是标题</h4>
          <p>我是内容</p>
        </div>
      `,
  });
  //2.全局组件，多个实例下使用
  // Vue.component('my-cpn',cpnC);

//子组件
  const cpnC1 = Vue.extend({
    template : `
      <div>
        <h4>我是标题1子组件</h4>
        <p>我是内容1</p>
      </div>
    `
  });
//父组件
  const cpnC2 = Vue.extend({
    template : `
        <div>
          <h4>我是标题2父组件</h4>
          <p>我是内容2父组件</p>
          <cpn1></cpn1>
        </div>
      `,
    components: {
      cpn1 : cpnC1,
    }
  });
//原始引用方法end


// 语法糖写法
  Vue.component('cpn3',{
    template : `
      <div>
        <h4>我是标题</h4>
        <p>我是内容</p>
      </div>
        `,
  });
// 语法糖写法
  Vue.component('cpn4',{
    template : '#cpn4'
  });
  Vue.component('cpn5',{
    template : '#cpn5'
  });
  //组件中自己传递data属性
  Vue.component('cpn6',{
    template : '#cpn6',
    data(){
      return {
        counter : 0,
      }
    },
    methods: {
      increment(){
        this.counter++;
      },
      decrement(){
        this.counter--;
      }
    }
  });

  //父组件传子组件 props cpn7当子组件
  const cpn7 = {
    //可以传数组，也可以传对象
    // props : ['cfoods','cmessage'],
    props:{
      // 类型限制 Array String number,boolean,Date,Object,function
      cfoods : Array,
      // cmessage : String,
      // 传默认值
      cMessage:{
        type : String,
        // request : true,  //设定后就必须传
      }
    },
    template : '#cpn7',
  }

//子组件传父组件 自定义事件$emit  cpn8当子组件
  const cpn8 = {
    template : '#cpn8',
    data(){
      return{
        categories : [
          { id:1 , title:'苹果' },
          { id:2 , title:'西瓜' },
          { id:3 , title:'香蕉' },
        ]
      }
    },
    methods:{
      btnClick(btn){
        // console.log(item)
        this.$emit('btn-click',btn)
      }
    }
  }

//组件传递案例
  const cpn9 = {
    props:{
      number : Number,
      number2 : Number,
    },
    template : '#cpn9',
    data(){
      return{
        dnumber: this.number,
        dnumber2 : this.number2,
      }
    },
    methods:{
      // 这种对应上面注释的第一种v-model  keyup   开始
      changeNum(dnumber){
        this.$emit('chge-num',dnumber);
        this.dnumber2 = dnumber * 10;
        this.$emit('chge-num2',this.dnumber2);
      },
      changeNum2(dnumber2){
        this.$emit('chge-num2',this.number2)

        this.dnumber = dnumber2 / 10;
        this.$emit('chge-num',this.dnumber);
      },
      // 这种对应上面注释的第一种v-model  keyup   结束

      inputChange(event){
        // alert(event.target.value);
        this.dnumber = event.target.value;
        this.$emit('chge-num',this.dnumber);
        this.dnumber2 = this.dnumber * 10;
        this.$emit('chge-num2',this.dnumber2);
      },
      inputChange2(event){
        // alert(event.target.value);
        this.dnumber2 = event.target.value;
        this.$emit('chge-num2',this.dnumber2);
        this.dnumber = this.dnumber2 / 10;
        this.$emit('chge-num',this.dnumber);

      },
    }
  }

//父访问子组件传递方式 $children  $refs(推荐使用)
  const cpn10 = {
    template : '#cpn10',
    data(){
      return{
        name : '我是cpn10 的name',
      }
    }
  }
// 子访问父组件传递方式 $parent、 $root
  const cpn11 = {
    template : '#cpn11',
    data(){
      return{
        name : '我是cpn11 的name',
      }
    },
    methods:{
      //用的比较少
      btnCpn11(){
        console.log(this.$parent);
        alert("$parent 方式获取的值为：" + this.$root.foods);

        console.log(this.$root);
        alert("$root 方式获取的值为：" + this.$root.message);
      }
    }
  }
  //组件插槽 slot
  const cpn12= {
    template : '#cpn12',
  }
  //具名插槽
  const cpn13= {
    template : '#cpn13',
  }
  //理解编译作用域
  const cpn14= {
    template : '#cpn14',
    data(){
      return{
        isShow : false,
      }
    }
  }
  //作用域插槽
  const cpn15= {
    template : '#cpn15',
    data(){
      return{
        food2s:['葡萄','鸭梨','菠萝'],
      }
    }

  }

  const app = new Vue({
    el:"#app",
    data: {
      num : 1,
      num2 : 0,
      message:'云海天教程',
      foods:['苹果','西瓜','香蕉'],
      // fruits:[
      //   {id:1,title:'苹果',price:11.00,count:1},
      //   {id:2,title:'西瓜',price:8.00,count:1},
      //   {id:3,title:'香蕉',price:6.00,count:1},
      // ],
      isShow: true
    },
    //注册局部组件(开发中用的比较多)
    components:{
      // 基础
        'my-cpn' : cpnC,
      //父组件子组件
        cpn2 : cpnC2,
      //组件模版的分离写法

      // 父组件传子组件 props
        cpn7,
      // 子组件传父组件 自定义
        cpn8,
      //案例演练
        cpn9,
      //父访问子组件传递方式 $children  $refs(推荐使用)
        cpn10,
      //子访问父组件传递方式
        cpn11,
      //组件插槽
        cpn12,
      //具名插槽
        cpn13,
      //编译作用域
        cpn14,
      //编译作用域插槽
        cpn15,
    },


    computed:{
    },
    methods:{
      ctnClick(btn){
        // console.log('点击',btn)
        alert('点击了 '+ btn.title)
      },
      ChgeNum(num){
        // alert('传值+'+num);
        this.num = parseInt(num);
      },
      ChgeNum2(num2){
        this.num2 = parseInt(num2);
      },
      btnCpn10(){
        //$children通过下标去拿值，不友好
        console.log(this.$children);
        alert("$children 方式获取的值为：" + this.$children[9].name);
        //父访问子组件传递方式   $refs(推荐使用)
        console.log(this.$refs)
        alert("$refs 方式获取的值为：" + this.$refs.cpn10.name);

      },
    },

    filters: {

    },

  });

</script>



</body>
</html>
